header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.scrolltext {
  display: none;
}

.scrolltext > p {
  color: var(--secondary);
  opacity: 20%;
  font-weight: 100;
  flex-grow: 1;
}

.burger {
  display: block;
  padding: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  right: 0%;
  margin-top: 0;
  /*Viser menuen frem når den er aktiv.*/
}
ul.menu {
  background-color: var(--primary);
  transform: translateY(-1%);
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 0;
  line-height: 140%;
  height: 90vh;
  z-index: -2;

  overflow-y: auto;
  scrollbar-width: none;
  right: -100%;
  /*Sætter menuen 100% over til højre
    når den ikke er i brug (Skjuler den)*/
  margin-top: 0;

  width: 50vw;
  transition: right 0.5s ease;
  /* background-color: var(--primary); */
  padding: 2%;
  padding-top: 80px;

  flex-direction: column;
  justify-content: space-evenly;

  overflow-x: hidden;

}

ul.menu > li {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  text-align: right;
  padding-right: 5vw;
  font-size: 120%;
  z-index: 1;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--secondary);

  margin-bottom: 5px;
  transition: 0.5s linear;
}

@media screen and (min-width: 800px) {
  header {
    height: var(--headerheight);
    background-color: var(--primary);
    left: 0;
    margin: 0;
    padding: 0;
  }
  nav.active .menu {
    right: 0;
    /*Viser menuen frem når den er aktiv.*/
  }
  header > nav {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  ul.menu {
    padding-top: 0;
    height: auto;
    z-index: 1;
    flex-grow: 1;
    flex-direction: row;
    overflow: visible;

    justify-content: space-between;
    position: relative;
    line-height: 140%;
    right: 0;
    display: flex;
    margin: 5%;
    transition: right 0.5s ease;
    background-color: transparent;
    padding: 0;
    border-style: none;
    z-index: 2;
  }
  ul.menu li > a {
    text-align: center;
    flex-grow: 1;
    overflow: visible;
  }
  ul.menu li {
    text-align: center;
    flex-grow: 0;
    overflow: visible;
  }

  a#logo {
    transition: 0.15s ease-in-out;
  }
  a#logo:hover {
    transform: scale(110%);
  }
  li.burgerwarning,
  .burger {
    display: none;
  }
  .scrolltext {
    position: absolute;
    align-self: center;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10%;
    width: auto;
    animation-name: scrollleft;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  .scrolltext > p {
    font-size: calc(0.8 * var(--headerheight));
  }
}

@keyframes scrollleft {
    
  to {
    /* transform: translateX(calc(- (var(--headerheight)-10%))); */
    transform: translateX(-100%);
  }
}
