/* Fonte */

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* Variabler */
:root {
  --headerheight: 15vh;
  --primary: #f5f5f5;
  --secondary: #171717;
  --tint: #0050b5;
}
/* Font-styling */
h1,
h2,
h3,
h4,
p,
a {
  color: var(--secondary);
}

a:hover {
  color: var(--tint);
  transition: 0.1s linear;
}



.codegallery > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:3%;
  overflow-x: hidden;
}



.codegallery h3 {
  text-align: center;
}
article.dropdown,
.codegallery pre,
.userstories > div {
  background-color: rgba(0, 0, 0, 0.041);
}

.userstories {
  margin-bottom: 5%;
}

article.dropdown .flex {
  display: flex;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: space-evenly;
}

.userstories > div {
  border-radius: 10px;
  padding: 4%;
  margin: 2%;
}

.userstories > div p {
  font-style: italic;
}

.userstories > div h4 {
  text-align: center;
}
.codegallery pre::before{
    overflow-x: hidden;
}
.codegallery pre {
  font-family: "Kode Mono", monospace;
  color: var(--secondary);
  border-radius: 10px;
  padding: 2%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  /* border-style: solid;
    border-width: 1px;
    border-color: var(--secondary); */
}

h1 {
  font-size: 3rem;
}

h2,
h3,
h1,
h4,
h3 a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

h2,
ul.menu > li a {
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 100%;
}

p,
a,
li {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

header li {
  list-style: none;
}

span.smaller {
  font-size: 80%;
  font-style: italic;
}

/* -------- */

html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--primary);
}

main {
  padding: 3%;
}

iframe.figma {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  border-style: none;
  border-radius: 10px;
}

section.fullsize {
  height: 100vh;
  /* look into this lolol ecks dee */
}

section.frontpage {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr auto 1fr;
  gap: 5%;
}

section.frontpage > .textbox {
  grid-row: 3;
  width: 100%;
  align-self: baseline;
}

.diagram_container{
  width: 100%;
}

.diagram_container img{
  width: 100%;
  border-radius: 10px;
}

section.portfolio > div > .textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.frontpage > h1 {
  grid-row: 1;
}

section.frontpage > .textbox h1 {
  display: none;
}

section.frontpage > .heroimg {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-image: url(content/images/Godtbillede.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 2;
}
section.portfolio div.hero > div,
.heroimg > div {
  width: 100%;
  height: 100%;
  background-color: var(--tint);
  mix-blend-mode: color;
}

section.portfolio div.hero > div {
  mix-blend-mode: hard-light;
}

section.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.portfolio > h1 {
  text-align: center;
  margin: 0;
}

footer {
  bottom: 0;
  left: 2.5%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 95%;
  z-index: -4;
}

article.dropdown li {
  margin-bottom: 2%;
}

footer p {
  font-size: 80%;
  color: var(--tint);
}
a.cta {
  text-decoration: none;
  font-size: 120%;
  color: var(--primary);
  background-color: var(--tint);
  padding: 1%;
  border-radius: 2px;
  box-shadow: inset 0px 0px 5px -2px var(--primary);
  transition: 0.1s linear;
  max-width: fit-content;
}

section.portfolio > div > .textbox > a.cta {
  align-self: center;
}

a.downbutton {
  aspect-ratio: 1 / 1;
  height: 20vh;
  box-shadow: inset 0px 0px 5px -2px var(--primary);
  background-color: var(--tint);
  border-radius: 50%;
  overflow: hidden;
  transition: 0.1s linear;
}

a.downbutton > div {
  width: 100%;
  height: 100%;
  mask-image: url(content/icons/arrow.svg);
  mask-size: cover;
  background-color: var(--primary);
  transition: 0.1s linear;
  transform: rotate(90deg) scale(80%);
}
a.downbutton:hover {
  box-shadow: inset 0px 0px 20px -2px var(--primary);
}
a.cta:hover {
  box-shadow: inset 0px 0px 8px -2px var(--primary);
  color: var(--primary);
}

a.downbutton:hover > div {
  animation-name: downbuttonhover;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

article.dropdown {
  border-radius: 10px;
  /* border-style: solid;
  border-width: 1px;
  border-color: var(--secondary); */
  overflow: hidden;
  margin-top: 2%;
  margin-bottom: 2%;
}

article.dropdown > div {
  padding-left: 2%;
  padding-right: 2%;
}

article.dropdown > .top {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

article.dropdown .dropbtn {
  height: 100%;
  background-color: var(--secondary);
  mask-image: url(content/icons/arrow.svg);
  mask-size: cover;
  scale: 50%;
  cursor: pointer;
  transition: 0.1s linear;

  aspect-ratio: 1 / 1;
}

article.dropdown .content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

article.dropdown .dropbtn.active {
  rotate: 90deg;
}

.triframe{
  display: flex;
  flex-direction: column;
}

/* article.dropdown .top.active{
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: var(--secondary);
     
    
} */

@keyframes downbuttonhover {
  50% {
    transform: translateY(100%) rotate(90deg) scale(80%);
  }
  51% {
    transform: translateY(-100%) rotate(90deg) scale(80%);
  }
  100% {
    transform: translateY(0%) rotate(90deg) scale(80%);
  }
}

@media screen and (min-width: 800px) {
  section.minusfront {
    height: calc(100vh - var(--headerheight));
    margin-top: 0;
  }
  main {
    padding: 0%;
    padding-top: var(--headerheight);
  }

  body {
    margin: 5%;
    margin-top: 0%;
  }

  section.frontpage {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
  }

  section.frontpage > .heroimg {
    aspect-ratio: unset;
    width: 100%;
    height: 100%;
    grid-column: 2;
    transform: scale(80%);
    grid-row: 1;
  }

  section.frontpage > .textbox {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  section.frontpage > .textbox h1 {
    display: block;
  }

  section.frontpage > h1 {
    display: none;
  }

  section.portfolio > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  section.portfolio > h1 {
    text-align: center;
    margin: 0;
  }

  section.portfolio > div > .hero {
    display: block;
    background-image: url(content/images/DALL-E_design_portfolio.webp);
    background-size: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
    scale: 80%;
  }

  section.portfolio div.hero > a.downbutton,
  section.portfolio div.hero > p {
    display: block;
  }

  .codegallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }

  .codegallery pre {
    width: 100%;
    height: 100%;
  }

  .userstories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .userstories > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .userstories > div p {
    align-self: center;
  }

  article.dropdown .flex {
    margin: 0;
    padding: 0;
    flex-direction: row;
    height: 30vh;
  }

  .diagram_container img{
    scale: 80%;

  }

  .triframe{
    flex-direction: row;
  }

}
